@charset "UTF-8"

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E4FFFF;
    font-size: 10pt;
}

form, .results {
    position: ;
    top: 50px;
    width: 400px; 
    margin: auto;
    border: 2px solid #717272;
    border-radius: 8px;
    padding: 20px;
    font-family: helvetica, verdana, serif;
    background: rgb(153, 204, 255);
    
}

#header {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    padding: 16px;
    position: relative;
    background-color:#BFFFFF;
}


nav {
    overflow: hidden;
    width: 65%;
    float: right;
}

nav li {
    display: inline;
}

nav li a {
    display: block;
    float: left;
    text-align: center;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
}

nav li a:hover {
      background-color: #ddd;
    border-bottom: 5px solid #ffffff;
}

.results {
    color: #E4FFFF;
}

.results p {
    margin: 40px 0;
}

 
input{ width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    position: relative;
	display: inline-flex;
	text-align: center;}

.checkbox
{text-align: center;}

h1 {
    font-family: serif;
    color: white;
    margin-bottom: 20px
    font-size: 30px;
}

h3{ font-family:serif;}

fieldset {
    background-color: #E4FFFF;
    border: none;
    border-radius: 14px;
    padding: 10px;
    margin-bottom: 20px;
}

.results a {
    color: #E4FFFF;
}

.results a:hover {
    color: #475151;
}

legend {
    font-size: 1.3em;
    font-family:serif;
    color: #475151;
    background-color: #E4FFFF;
    padding: 1px 3px;
    border: square #717272;
    border-radius: 19px;
}

button {
    font-family: serif;
    margin: 10px;
    border: #E4FFFF 1px solid;
    color:#E4FFFF;
    font-weight: bold;
    background: #64B5F6;
	margin: 0 auto;
	outline: 0;
	border: 0;
	padding: 12px 24px;
	border-radius: 13px;
}

button:hover {
    background-color:darkblue;
}

.leftbutton, .rightbutton {
    width: 50%;
    float: left;
}

#submit {  
    float: right;
}

#reset {  
    float: left;
}

#userdata {
    color: skyblue;
}

p{
  font-family: serif;
font-size: 24px;}